[submodule "manuskript/plugins/variant_workspaces"]
	path = manuskript/plugins/variant_workspaces
	url = https://github.com/MustardBell/manuskript-variant-workspaces.git
[submodule "manuskript/plugins/plain_lists"]
	path = manuskript/plugins/plain_lists
	url = https://github.com/MustardBell/manuskript-plain-lists.git
	branch = main
[submodule "manuskript/plugins/anchors"]
	path = manuskript/plugins/anchors
	url = https://github.com/MustardBell/manuskript-anchors.git
	branch = main
[submodule "manuskript/plugins/story_workstation"]
	path = manuskript/plugins/story_workstation
	url = https://github.com/MustardBell/manuskript-story-workstation.git
	branch = main
[submodule "manuskript/plugins/text_provenance"]
	path = manuskript/plugins/text_provenance
	url = git@github-mustardbell:MustardBell/manuskript-text-provenance.git
	branch = main
